.blog-grid article:nth-child(n+7) { /* hides items 7+ */
  display: none;
}

.blog-grid.is-expanded article {
  display: block;
}

.seeMoreButton {
  background-color: blue;
  color: #fff;
  margin: 12px;
  padding: 12px;
  border-radius: 20px;
  border: #fff;
  font-weight: 600;
  font-size: 16px;
}

.seeMoreButton::hover {
  background-color: #fff;
  color: #blue;
}
